---
layout: classroom-page
permalink: /classroom/homework.html
title: Homework
tagline:
tags:
image:
  feature: feature-textbooks.png
---
        <div class="row">
          <div class="col-md-8">
			<ul class="posts">
             {% for post in site.posts %}
               {% if post.categories contains 'classroom' %}
	             <div class="panel panel-default">
                   <div class="panel-heading">
                     <h3 class="panel-title">{{ post.title }}</h3>
                   </div>
                   <div class="panel-body">
                     {{ post.content }}
                   </div>
                 </div>
               {% endif %}
             {% endfor %}
            </ul>

        </div><!-- /row -->

        <!-- Side bar column -->
	<div class="col-md-4">
        <div>
          <a href="https://docs.google.com/forms/d/1DUgvRAGTHILEdfDDjH2rZ5reEZsO546p3wTkfYfDe_w/viewform?usp=send_form">Record bean data</a><br>
          <a href="https://docs.google.com/spreadsheets/d/1Fs0zbQVQCa8Ab6056FH2Cr1dQHxKMY_9gD-KxlPoGLY/edit?usp=sharing">View bean data</a>
        </div>	
	
	  <div>
            <h3>Miscellaneous handouts</h3>
            <a href="https://www.dropbox.com/s/rb7ezktzlc8mbgy/Science%20Lab%20Report%20Outline.docx?dl=0">Science Lab Report Outline</a><br>
            <a href="https://www.dropbox.com/s/74a93mjcawh3r41/Science%20Fair%20Project%20Development%20Guide%202014%20revision.pdf?dl=0">Science Fair Project Development Guide</a><br>
            <hr>
          </div>
	  <div>
	    <h3>Study Club</h3>
	    Need extra help? Do you want to get a head start on your homework? Do you want to meet with your partner to work on your Science Fair project? Do you need to print out missing worksheets? Come to Dr. Pineda's study club during lunch recess.
	  </div>
	  <div>
	    <h3>Animal Caretaker Volunteering</h3>
	    Love animals? Intrigued by exotic pets? Do you want to learn more? Are you responsible, reliable and passionate about animal well-beeing? Join Dr. Pineda's team of Animal Care Volunteers. Interested? Talk to Dr. Pineda.
	  </div>
	</div>
     </div><!-- /container -->
