---
layout: classroom-page
permalink: /classroom/homework.html
title: Homework
tagline:
tags:
image:
  feature: feature-textbooks.png
---
        <div class="row">
          <div class="col-md-8">
			<ul class="posts">
             {% for post in site.posts %}
               {% if post.categories contains 'classroom' %}
	             <div class="panel panel-default">
                   <div class="panel-heading">
                     <h3 class="panel-title">{{ post.title }}</h3>
                   </div>
                   <div class="panel-body">
                     {{ post.content }}
                   </div>
                 </div>
               {% endif %}
             {% endfor %}
            </ul>

		  </div><!-- /row -->

		  <!-- Side bar column -->
		  <div class="col-md-4">
		    <div>
              <h3>Weekly lunch recess schedule</h3>
              Tuesday: Study Club
              Wednesday: Animal Care Task Force
              Thursday: Study Club
              Friday: Animal Care Task Force
              <hr>
			</div>
			<div>
		      <h3>Miscellaneous handouts</h3>
		      <a href="https://www.dropbox.com/s/rb7ezktzlc8mbgy/Science%20Lab%20Report%20Outline.docx?dl=0">Science Lab Report Outline</a><br>
		      <a href="https://www.dropbox.com/s/74a93mjcawh3r41/Science%20Fair%20Project%20Development%20Guide%202014%20revision.pdf?dl=0">Science Fair Project Development Guide</a><br>
		    </div>
		    <hr>
		    <h3>Accessing password protected resources</h3>
              Due to copyright restrictions some resources (e.g. worksheets) are password protected. When accessing these you will be asked for a password. The password is posted in my classroom or you can <a href="/classroom/passwordrequest.html">request it on this web page</a>.
          </div>
	    </div>
      </div><!-- /container -->
