---
layout: sciencenight-page
permalink: 
title: Bridge building
description: 
tags: 
image:
  feature: /resources/sciencenight/img/feature-telescope2.jpg
---
{% include description.html heading="Subject" text="Physics" %}
{% include description.html heading="Objectives" text="To build a self-supporting bridge using only notched pieces of wood." %}  
{% include description.html heading="Material" text="<ul><li> bridge dowel set (see <a href='http://drsamson.wikispaces.com/6.++Bridge+Building'>instructions for how to prepare the kit</a> )</li></ul>" %}  
{% include description.html heading="Instructions" text="..." %}  
{% include description.html heading="Think about it" text="..." %}      
{% include description.html heading="How does it work" text="..." %}      
{% include description.html heading="Safety" text="..." %}      	
{% include description.html heading="Program of Study connections" text="..." %}        
{% include description.html heading="Resources" text="<a href='http://drsamson.wikispaces.com/6.++Bridge+Building'>Leonardo's selfsupporting bridge classroom activity</a>" %} 
