<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="{{ site.url }}/img/trex.png" alt="" />
      <div class="carousel-caption">
      <h4>Like other creative workers scientists thrive on freedom and organizing them is like herding cats<h4>
        <p>Sir Paul Nurse</p>
      </div>
    </div>
    <div class="item">
      <img src="{{ site.url }}/img/mural.png" alt="" />
      <div class="carousel-caption">
        <p>B.Ed. After Degree</p>
      </div>
    </div>
    <div class="item">
      <img src="{{ site.url }}/img/org.png" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="{{ site.url }}/img/heart.jpg" alt="" />
      <div class="carousel-caption">
        <h4>Student: Dr. Einstein, Aren't these the same questions as last year's [physics] final exam?</h4>
        <h4>Dr. Einstein: Yes; But this year the answers are different.</h4>
      </div>
    </div>
    
    <div class="item">
      <img src="{{ site.url }}/img/frog.jpg" alt="" />
      <div class="carousel-caption">
        <blockquote>
          <p>The diversity of life is the most astonishing thing to happen in the universe since the Big Bang, and we need to understand it better if we hope to preserve it.</p>
          <small>Dolph Schluter <cite title="Source Title">Source Title</cite></small>
        </blockquote>
      </div>
    </div>  
    
    <div class="item">
      <img src="{{ site.url }}/img/fish.jpg" alt="" />
      <div class="carousel-caption">
        <h4>The scientist is not a person who gives the right answers, he's one who asks the right questions</h4>
        <p>Claude Lévi-Strauss</p>
      </div>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    &lsaquo;
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    &rsaquo;
  </a>
</div>
