<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ site.url }}/img/trex.jpg" alt="" />
      <div class="carousel-caption">
        <h5>I have no special talent. I am only passionately curious.</h5>
        <p>Albert Einstein</p>
      </div>
    </div>
    
    <div class="item">
      <img src="{{ site.url }}/img/mural.jpg" alt="" />
      <div class="carousel-caption">
        <h5>Those who know, do. Those that understand, teach.</h5>
        <p>Aristotele</p>
      </div>
    </div>
    
    <div class="item">
      <img src="{{ site.url }}/img/lake.jpg" alt="" />
      <div class="carousel-caption">
        <h5>I never teach my pupils, I only attempt to provide the conditions in which they can learn.</h5>
        <p>Albert Einstein</p>
      </div>
    </div>
    
    <div class="item">
      <img src="{{ site.url }}/img/heart.jpg" alt="" />
      <div class="carousel-caption">
        <h5>Student: Dr. Einstein, Aren't these the same questions as last year's [physics] final exam?</h5>
        <h5>Dr. Einstein: Yes; But this year the answers are different.</h5>
      </div>
    </div>
    
    <div class="item">
      <img src="{{ site.url }}/img/frog.jpg" alt="" />
      <div class="carousel-caption">
        <h5>Education is not the filling of a pail, but the lighting of a fire</h5>
        <p>William Butler Yeats</p>
      </div>
    </div>  
    
    <div class="item">
      <img src="{{ site.url }}/img/fish.jpg" alt="" />
      <div class="carousel-caption">
        <h5>The scientist is not a person who gives the right answers, he's one who asks the right questions</h5>
        <p>Claude Lévi-Strauss</p>
      </div>
    </div>
    
    <div class="item">
      <img src="{{ site.url }}/img/org.jpg" alt="" />
      <div class="carousel-caption">
        <h5>There's nothing I believe in more strongly than getting young people interested in science and engineering, for a better tomorrow, for all humankind.</h5>
        <p>Bill Nye</p>
      </div>
    </div>
    
  </div>
    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    &lsaquo;
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    &rsaquo;
  </a>
</div>

