<!--Start Carousel-->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">

    <!-- R Consulting -->
    <div class="item active">
      <a href="/consulting/" rel="nofollow"><img src="/img/featured/rubiks_gradient_wide.png" alt="R Consulting"></a>
      <div class="carousel-caption">
        <p class="lead"><a href="/consulting/" rel="nofollow">R Consulting - Transforming Data Into Insight Through the Power of R &raquo; </a></p>
      </div> <!-- carousel-caption -->
    </div> <!-- item active -->
  
    <!-- R Solutions -->
    <div class="item">
      <a href="/solutions/" rel="nofollow"><img src="/img/featured/city_hall_wide.jpg" alt="R Solutions"></a>
      <div class="carousel-caption">
        <p class="lead"><a href="/solutions/" rel="nofollow">R Solutions - Development, Deployment and Maintenance of Customized Turn-Key R Programming Solutions &raquo;</a></p>
      </div> <!-- carousel-caption -->
    </div> <!-- item -->
    
        <!-- Newsletter -->
    <div class="item">
      <a href="/newsletter/" rel="nofollow"><img src="/img/featured/data_wide.png" alt="On Demand Analytics Powered by R"></a>
      <div class="carousel-caption">
        <p class="lead"><a href="/newsletter/" rel="nofollow">Subscribe to our Newsletter &raquo;</a></p>
      </div> <!-- carousel-caption -->
    </div> <!-- item -->
    
  </div> <!-- carousel-inner -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="/img/arrow.png" alt="Arrow"></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="/img/arrow2.png" alt="Arrow"></a>
</div> <!-- myCarousel -->
<!--End Carousel-->
