<div style="height:30px"></div>
<div class="row-fluid">
  <div class="span12">
    <div class="footer-well">	
      <div class="container">
        <div class="muted">
          <p>
            <small>
             <div class="muted">
               &copy; 2013 MPK Analytics − <a href="/privacy">privacy</a> − handmade in <a href="https://twitter.com/search?q=%23yeg&src=hash">#yeg</a>
            </div>
           </small>
         </p>
       </div> <!-- muted -->
      </div> <!-- container -->
    </div> <!-- footer-well -->
  </div> <!-- span12 -->
</div> <!-- row-fluid -->

