<script src="{{ site.url }}/assets/js/bsa.js"></script>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <a href="{{ site.url }}" class="navbar-brand">drpineda.ca</a>
	  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	</div>
	
	<div class="hidden-print">
	<!-- Nav menu -->
	<div class="navbar-collapse collapse pull-right" id="navbar-main">
	  <ul class="nav navbar-nav">
	  	  
	  	<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Teaching Resources <span class="caret"></span></a>
		  <ul class="dropdown-menu" aria-labelledby="themes">
			<li><a tabindex="-1" href="/resources/robotics/">Robotics (4/5)</a></li>
			<li><a tabindex="-1" href="/resources/sciencenight/">Family Science Night activities (K-6)</a></li>
			<li><a tabindex="-1" href="/resources/mathbio/introduction.html">The math of infectious diseases (Math 31)</a></li>
		    <li><a tabindex="-1" href="/WebQuest/introduction.html">WebQuest: O Canada — What Have You Done? (Gr 11-12)</a></li>
		    <li><a tabindex="-1" href="/teaching%20resources/2013/10/17/Elodea-photosynthesis-simulation-lab.html">Elodea photosynthesis simulation lab (Bio 20, Unit C)</a></li>
		  </ul>
		</li>
	  	  
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Projects <span class="caret"></span></a>
		  <ul class="dropdown-menu" aria-labelledby="themes">
			<!-- <li><a tabindex="-1" href="/projects/jrfll/">JrFLL</a></li> -->
			<!-- <li><a tabindex="-1" href="/projects/fll/">FLL</a></li> -->
			<li><a tabindex="-1" href="/projects/frc/">FRC Team 5064</a></li>
		    <!-- <li><a tabindex="-1" href="/projects/geocaching/">Geocaching</a></li> -->
		    <!-- <li><a tabindex="-1" href="/projects/elementaryrobotics/">Elementary robotics</a></li> -->
		  </ul>
		</li>  
		  
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">About<span class="caret"></span></a>
		  <ul class="dropdown-menu" aria-labelledby="themes">
			<li><a tabindex="-1" href="/about/">About me</a></li>
			<li><a tabindex="-1" href="/teaching_statement/">Teaching statement</a></li>
			<li><a tabindex="-1" href="/faq/">FAQ</a></li>
			<li><a tabindex="-1" href="/contact/">Contact</a></li>
		  </ul>
		</li>  
		  
		<li>
		  <a href="{{ site.url }}/blog/">Blog</a> 
		</li>
		
		<li class="dropdown">
		  <a href="{{ site.url }}/portfolio_access/">Portfolio</a>
		</li>

		
		<li class="dropdown">
		  <a href="http://www.youtube.com/user/DrPinedasClassroom"><img src="{{ site.url }}/img/social-media/youtube.png"></a>
		</li> 

	  </ul>
	</div>
	<!-- END Nav menu -->
	</div>
  </div>
</div>


