<script src="{{ site.url }}/assets/js/bsa.js"></script>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <a href="{{ site.url }}" class="navbar-brand">drpineda.ca</a>
	  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	</div>
	
	<!-- Nav menu -->
	<div class="navbar-collapse collapse pull-right" id="navbar-main">
	  <ul class="nav navbar-nav">
<!--	  
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Teaching Resources <span class="caret"></span></a>
		  <ul class="dropdown-menu" aria-labelledby="themes">
			<li><a tabindex="-1" href="../teaching_resource/salt_water_systems_WebQuest/">Saltwater Systems WebQuest (Gr 8, Unit D)</a></li>
		    <li><a tabindex="-1" href="../teaching_resource/marshmallow_challenge/index.html">Marshmallow Challenge (Gr 7, Unit A)</a></li>
		  </ul>
		</li>
-->		
		<li>
		  <a href="{{ site.url }}/outreach/">Outreach</a>
		</li>
		<li>
		  <a href="{{ site.url }}/about/">About</a>
		</li>
		<li>
<!--		  <a href="{{ site.url }}/blog/">Blog</a> -->
		</li>
		<li class="dropdown">
		  <a href="{{ site.url }}/contact/">Contact</a>
		</li>
		<li class="dropdown">
		  <a href="{{ site.url }}/portfolio_access/">Portfolio</a>
		</li>
		<li class="dropdown">
		  <a href="http://www.youtube.com/user/DrPinedasClassroom"><img src="{{ site.url }}/img/social-media/youtube.png"></a>
		</li>

	  </ul>
	</div>
	<!-- END Nav menu -->
  </div>
</div>
