<div>
  <h2>Recent Blog Posts</h2>
  <hr>
  {% assign count = '5' %}
  {% for post in site.posts %} 
  {% if post.category != 'classroom' %}
    {% capture count %}{{ count | minus: '1' }}{% endcapture %}
	{% unless count contains "-" %}
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <p><small><em>{{ post.date | date: "%B %d, %Y" }}; <a href="{{ post.url }}#disqus_thread"></a></em></small></p>
    <p>{{ post.description }}</p>
    <hr>
	{% endunless %}
	{% endif %}
  {% endfor %}
  <a class="btn" href="/blog/">More posts</a>
</div> <!-- well -->