.navbar {
    background-color: #3E68B2 !important;
    border-color: #3E68B2 !important;
}

.carousel-control {
  position: absolute;
  top: 20%;
  opacity: 0.3;
  font-size: 120px;
  filter: alpha(opacity=30);
  z-index: 10;
}


