<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    
    <style type="text/css">
  #cover {
   background-size: 100%;
   background-image: url({{ page.image.feature }});
   background-repeat:no-repeat;
   margin-top: 0px;
   margin-bottom: -30px;
   background-position: center bottom;
   vertical-align: bottom;
  }
  
  #cover h1 {
   color: #fff;
   background: rgba(0, 0, 0, .1);
   font-size: 40pt;
  }
  
  .navbar {border-radius: 0;}
 </style>
  </head>
  <body>
  
  <!-- Embedd Facebook banner for Opcom group -->
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  
    {% include navigation.html %}
	
	  <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            
            
			<img src="/img/The-STEAMpunks-logo.jpg" width="100%">
            <!-- WebQuest nav bar -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div> <!-- navbar-header -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  
				  {% if page.title == "Home" %}                
                    <li class="active"><a href="/projects/fll/">Home</a></li>
                  {% else %}
                    <li><a href="/projects/fll/">Home</a></li>
                  {% endif %}
				  
                  {% if page.title == "FIRST" %}                
                    <li class="active"><a href="/projects/fll/first.html"><em>FIRST</em></a></li>
                  {% else %}
                    <li><a href="/projects/fll/first.html"><em>FIRST</em></a></li>
                  {% endif %}
                    
                  {% if page.title == "Team" %}  
                    <li class="active"><a href="/projects/fll/team.html">Team</a></li>
                  {% else %}
                    <li><a href="/projects/fll/team.html">Team</a></li>
                  {% endif %}
				  
				  {% if page.title == "Our Robot" %}  
                    <li class="active"><a href="/projects/fll/robot.html">Our Robot</a></li>
                  {% else %}
                    <li><a href="/projects/fll/robot.html">Our Robot</a></li>
                  {% endif %}
              
                  {% if page.title == "Media" %}  
                    <li class="active"><a href="/projects/fll/media.html">Media</a></li>
                  {% else %}
                    <li><a href="/projects/fll/media.html">Media</a></li>
                  {% endif %}
				                        
                  {% if page.title == "Sponsors" %}  
                    <li class="active"><a href="/projects/fll/sponsors.html">Sponsors</a></li>
                  {% else %}
                    <li><a href="/projects/fll/sponsors.html">Sponsors</a></li>
                  {% endif %}
				           
				  {% if page.title == "Support Us" %}  
                    <li class="active"><a href="/projects/fll/supportus.html">Support Us</a></li>
                  {% else %}
                    <li><a href="/projects/fll/supportus.html">Support us</a></li>
                  {% endif %}	   
						   
                  {% if page.title == "Contact" %}  
                    <li class="active"><a href="{{ site.url }}/contact/">Contact</a></li>
                  {% else %}
                    <li><a href="{{ site.url }}/contact/">Contact</a></li>
                  {% endif %}
					
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
          </div> <!-- row -->
        </div> <!-- page-header -->
		
		<div class="row">
          <div class="col-xs-12 col-md-8">
            {{ content }}
          </div>
        <div class="col-xs-6 col-md-4">
          <p><img src="/projects/fll/img/fll.png" width="100%"></p>
          <div class="well">
            <p>"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders."
            - Dean Kamen, Founder</p>
          </div>
  
          <p><img src="/projects/fll/img/world_class.jpg" width="100%"></p>
		  <div class="well">
		    <p>What is the future of learning? <em>FIRST LEGO</em> League teams will find the answers. In the 2014 FLL WORLD CLASS Challenge, over 230,000 children ages 9 to 14 from over 70 countries will redesign how we gather knowledge and skills in the 21st century. Teams will teach adults about the ways that kids need and want to learn.  Get ready for a whole new class – FLL WORLD CLASS!</p>
		  </div>
		  
	    </div>
      </div>
      {% include footer.html %}
      {% include scripts.html %}
    </div> <!-- container -->
  </body>
</html>

