<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    
    <style type="text/css">
  #cover {
   background-size: auto;
   background-image: url({{ page.image.feature }});
   margin-top: 0px;
   margin-bottom: -30px;
  }
  
  #cover h1 {
   color: #fff;
   background: rgba(0, 0, 0, .25);
   font-size: 40pt;
  }
  
  .navbar {border-radius: 0;}
 </style>
  </head>
  <body>
    {% include navigation.html %}
	
	  <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
          <div id="cover">
            <h1 class="text-center jumbotron">The math of infectious diseases</h1>
          </div>  
            
            <!-- WebQuest nav bar -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div> <!-- navbar-header -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  
                  {% if page.title == "Introduction" %}                
                    <li class="active"><a href="/resources/mathbio/introduction.html">Introduction</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/introduction.html">Introduction</a></li>
                  {% endif %}
                    
                  {% if page.title == "Lesson 1" %}  
                    <li class="active"><a href="/resources/mathbio/lesson1.html">Lesson 1</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/lesson1.html">Lesson 1</a></li>
                  {% endif %}
              
                  {% if page.title == "Lesson 2" %}  
                    <li class="active"><a href="/resources/mathbio/lesson2.html">Lesson 2</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/lesson2.html">Lesson 2</a></li>
                  {% endif %}
				                        
                  {% if page.title == "Lesson 3" %}  
                    <li class="active"><a href="/resources/mathbio/lesson3.html">Lesson 3</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/lesson3.html">Lesson 3</a></li>
                  {% endif %}
				           
                  {% if page.title == "Lesson 4" %}  
                    <li class="active"><a href="/resources/mathbio/lesson4.html">Lesson 4</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/lesson4.html">Lesson 4</a></li>
                  {% endif %}
				  
                  {% if page.title == "Assessment" %}
                    <li class="active"><a href="/resources/mathbio/process.html">Assessment</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/process.html">Assessment</a></li>
                  {% endif %}
                    
				  {% if page.title == "Lesson guide" %}
                    <li class="active"><a href="/resources/mathbio/teacher.html">Teacher Page</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/teacher.html">Teacher Page</a></li>
                  {% endif %}
					
                  {% if page.title == "Resources" %}
                    <li class="active"><a href="/resources/mathbio/resources.html">Resources</a></li>
                  {% else %}
                    <li><a href="/resources/mathbio/resources.html">Resources</a></li>
                  {% endif %}
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
          </div> <!-- row -->
        </div> <!-- page-header -->
        <h1>{{ page.title }}</h1>
        {{ content }}
        {% include footer.html %}
    {% include scripts.html %}
      </div> <!-- container -->
    
  </body>
</html>

