<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
	<div class="container">
	  <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-6">
              <h1>{{ page.title }}</h1>
            </div>
          <div class="col-lg-6" style="padding: 0px 25px 15px 25px;">
        </div>
      </div>	
      {{ content }}
      
      {% for post in site.posts %}  
        <div>
          <article>
            <h3><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h3>
            <div class="muted">
              <p><small><em>Published on {{ post.date | date: "%B %d, %Y" }}; <a href="/{{ post.url }}#disqus_thread"></a></em></small></p>
            </div> <!-- muted -->
            
            <div class="row">
            <div class="col-md-4">
              {% if post.image %}
                <div class="image-wrap">
                  <img src="/img/post_images/{{ post.image }}" alt="{{ post.title }} feature image" width="100%">
                </div>
              {% endif %}
            </div>
            <div class="col-md-4">
			  <p>{{ post.description }}</p>
			  <p><a class='btn' href="{{ post.url }}">Read more</a></p>
            </div>  
          </article>
        </div> <!-- well -->
      {% endfor %}
        
    </div><!-- /container -->
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>


