<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
    <body>
      {% include navigation.html %}
      <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-md-9">
              <h2>{{ page.title }}</h2>
              <p>
                <small>
                  <em>
                    Published on {{ page.date | date: "%B %d, %Y" }};
                    <a href="/{{ page.url }}#disqus_thread"></a>;
                    <a href="/{{ page.url }}" rel="bookmark" title="{{ page.title }}"> Permalink</a><br>
                    Category:
                    {% for category in page.category %}
                    <a href="/category/#{{ category | cgi_encode }}" title="Page categories {{ category }}" rel="category">{{ category }}</a>
                    {% unless forloop.last %}
                      &bull;
                    {% endunless %}
                    {% endfor %}
                  </em>
                </small>
              </p>	
              {{ content }}
              {% include signature.html %}
              {% if site.disqus_shortname and page.comments %}{% include comments.html %}<!-- /#disqus_thread -->{% endif %}
            </div><!-- /class -->
			
			<!-- Side bar column -->
			<div class="col-md-3">
			  {% include recent_blog_posts.html %}
			</div>
			
		  </div><!-- /row -->
          {% include footer.html %}
          {% include scripts.html %}
		</div><!-- /pageheader -->
	  </div><!-- /container -->
  </body>
</html>
