<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    
    <!-- Open Graph Tags -->
    <meta property="og:site_name" content="Dr. Pineda's Classroom" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:image" content="{{ site.url }}/img/post_images/{{ page.thumbnailimage }}" /> 
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <!-- END Open Graph Tags -->
    
  </head>
    <body>  
      {% include socialsharing.html %}     
      {% include navigation.html %}
	  
      <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-md-8">
              <h2>{{ page.title }}</h2>
			  <div class="hidden-print">
                <p>
                  <small>
                    <em>
                      Published on {{ page.date | date: "%B %d, %Y" }};
                      <a href="/{{ page.url }}#disqus_thread"></a>;
                      <a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}"> Permalink</a>;
                      Category:
                      {% for category in page.category %}
                      <a href="/category/#{{ category | cgi_encode }}" title="Page categories {{ category }}" rel="category">{{ category }}</a>
                      {% unless forloop.last %}
                        &bull;
                      {% endunless %}
                      {% endfor %}
                    </em>
                  </small>
                </p>
              </div>
              <div class="visible-print">
			    Published on {{ page.date | date: "%B %d, %Y" }} by Mario Pineda, Ph.D.
				at {{ site.url }}{{ page.url }}
			  </div>
              <p>
                {% if page.featureimage %}
                  <div class="image-wrap">
                    <img src="/img/post_images/{{ page.featureimage }}" alt="{{ page.title }} feature image" width="100%" >
                  </div>
                {% endif %}
              </p>
              {{ content }}
              {% include signature.html %} 
              	<div class="hidden-print">  
                <hr>
                <p>
                  <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                  </div>
                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ebb85234e14b17"></script>
                  <!-- AddThis Button END -->
                </p>
                {% if site.disqus_shortname and page.comments %}{% include comments.html %}<!-- /#disqus_thread -->{% endif %}
              </div><!-- /class -->
			</div>
			
			  <div class="hidden-print">
    		    <!-- Side bar column -->
			    <div class="col-md-4">{% include recent_blog_posts.html %}</div>
			  </div>
			
		    </div><!-- /row -->
          {% include footer.html %}
          {% include scripts.html %}
		</div><!-- /pageheader -->
	  </div><!-- /container -->
  </body>
</html>
