<!DOCTYPE html>
<html lang="en">
  <head>{% include head.html %}</head>
  <body>
    {% include navigation.html %}
	<div class="container">
	  <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-6"><h1>{{ page.title }}</h1></div>
          </div>
        </div>

		<p><a href="/blog/">See posts listed by date</a></p>
        <div class="row">
          <div class="col-md-8">
	        {{ content }}

			
		  </div><!-- /row -->
		
				<!-- Side bar column -->
			<div class="col-md-4">
			  {% include recent_blog_posts.html %}
  </div>
			</div>
		
    </div><!-- /container -->
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>


