<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    
    <style type="text/css">
  #cover {
   background-size: auto;
   background-image: url({{ page.image.feature }});
   margin-top: 0px;
   margin-bottom: -30px;
  }
  
  #cover h1 {
   color: #fff;
   background: rgba(0, 0, 0, 0.2);
  }
  
  .navbar {border-radius: 0;}
 </style>
  </head>
  <body>
    {% include navigation.html %}
	<div class="container">
	  <div class="container">
        <div class="page-header" id="banner">
          <div class="row">
          <div id="cover">
            <h1 class="text-center jumbotron">Saving the Kyoto Accord</h1>
          </div>  
            
            <!-- WebQuest nav bar -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div> <!-- navbar-header -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/WebQuest/">Introduction</a></li>
                  <li><a href="/WebQuest/task.html">Task</a></li>
                  <li><a href="/WebQuest/assessment.html">Assessment</a></li>
                  <li><a href="/WebQuest/evaluation.html">Evaluation</a></li>
                  <li><a href="/WebQuest/conclusion.html">Conclusion</a></li>
                  <li><a href="/WebQuest/resources.html">Resources</a></li>
                  <li><a href="/WebQuest/teacher.html">Teacher Page</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
          </div> <!-- row -->
        </div> <!-- page-header -->
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div> <!-- container -->
    </div> <!-- container -->
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>

